

<footer class=" py-10 mt-4 w-full">
  <div class="w-full lg:w-[740px] mx-auto px-4">
   
    <div class="border-t border-gray-800 my-8"></div>

    <div class="text-center text-gray-400 text-sm">
      <p>© {new Date().getFullYear()} Salva - Desarrollador Backend. Todos los derechos reservados.</p>
      <p class="mt-2">Desarrollado con Astro y Tailwind CSS</p>
    </div>
  </div>
</footer>